@tailwind base;
@tailwind components;
@tailwind utilities;

.multiline-placeholder::placeholder {
  /* Set your multiline placeholder text here */
  content: 'Line 1\nLine 2\nLine 3';
  /* Adjust other styling properties as needed */
  font-size: 14px;
  line-height: 20px;
}

.loader {
  border: 6px solid #d8d8d8; /* Light grey */
  border-top: 6px solid #7c65c1; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}